<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hotel details</title>
        <!--meta tags-->
        <meta name="content-type" content="text/html charset=utf-8" />
        <meta http-equiv="content-type" content="text/html charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="description" content="description about project meta tag"/>
        <meta name="keywords" content="keyword part about my project,testing keyword"/>
        <meta name="distribution" content="global"/>
        <meta name="content-language" content="en"/>
        <meta name="language" content="en"/>
        <link rel="stylesheet" href="/static/css/materialize.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="/static/css/materialdesignicons.min.css"/>
        <link rel="shortcut icon" href="/static/img/icons/fav.png" type="image/x-icon"/>
        <link type="text/css" href="/static/css/style.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/responsive.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/nice-select.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/nice-select.css" rel="stylesheet"/>
        <!--select2-->
        <link type="text/css" href="/static/select2/css/select2.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/jquery.datetimepicker.css" rel="stylesheet"/>
    </head>
    <body>
    <div class="row item_cover">
        <p class="hotel-name">{{ hotel.name }}</p>
        <p class="card-rating">
                       <span class="left">
                           <!--mdi_star versen rengi sari olacaq-->
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star-half  mdi_star"></span>
                           <span class="mdi mdi-star "></span>
                           <!--mdi-star-half-->
                           <span class="mdi mdi_star"></span>
                       </span>
            <a href="javascript:void(0)" class="card-review-count">{{ hotel.review_set.count }} reviews</a>
        </p>
        <ul>
            <li><p class="hotel-info"><i class="mdi mdi-map-marker-multiple"></i>{{ hotel.region }}</p></li>
            <li><p class="hotel-info"><i class="mdi mdi-phone"></i>{{ hotel.contact_info }}</p></li>
        </ul>
        <a href="javascript:void(0)" class="hotel-cost btn"><span>₼</span>&nbsp;{{ hotel.price }}</a>
    </div>
    <div class="row hotel-details">
        <div class="col m3 hotel-item-left">
            <p class="reservation-title">Reservation</p>
            <form action="">
                <div class="row">
                    <div class="col m6">
                        <div class="datetime-picker item-date">
                            <p class="date-title">From</p>
                            <input type="text" id="datetimepicker4" value="28 SEP 2017"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6">
                        <div class="datetime-picker item-date">
                            <p class="date-title">To</p>
                            <input type="text" id="datetimepicker5" value="28 SEP 2017"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 guest_item">
                        <input  type="number" class="validate" placeholder="number of rooms">
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 guest_item">
                        <input  type="number" class="validate" placeholder="number of guests">
                    </div>
                </div>
                <div class="row">
                    <a href="javascript:void(0)">

                    </a>
                </div>
                <div class="row">
                    <a href="javascript:void(0)" class="btn reserve-btn">Reserve</a>
                </div>
            </form>
        </div>
        <div class="col m9 hotel-item-right">
            <div class="hotel-img" style="background-image: url({{ hotel.photo.url }})"></div>
        </div>
    </div>
    <div class="row comment-part">
        <!--comments-->
        <div class="col m8">
            <div class="row comments write-cmt">
                <div class="col m2 cmt-left">
                    <a href="javascript:void(0)"><img src="/static/img/avatar.jpg" alt="" class="comment-img" width="60" height="60"></a>
                </div>
                <div class="col m6 cmt-right">
                    <form action="">
                        <input type="text" placeholder="add your opinion about hotel">
                    </form>
                </div>
                <div class="col m1 s12 write-cnt">
                    <select class="ignore right">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col m3 s12 write-review">
                    <a href="javascript:void(0)" class="btn">write a review</a>
                </div>
            </div>
            <!--te start of comment item-->
            <div class="row comments">
                <div class="col m2 cmt-left">
                    <a href="javascript:void(0)"><img src="/static/img/avatar.jpg" alt="" class="comment-img" width="60" height="60"></a>
                    <p class="comment-name">Chris Evans</p>
                    <p class="comment-name">Baku,Azerbaijan</p>
                </div>
                <div class="col m10 cmt-right">
                    <p class="card-rating">
                       <span class="left">
                           <!--mdi_star versen rengi sari olacaq-->
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star-half  mdi_star"></span>
                           <span class="mdi mdi-star "></span>
                           <!--mdi-star-half-->
                           <span class="mdi mdi_star"></span>
                       </span>
                        <span class="reviewed">Reveiwed yesterday</span>
                    </p>
                    <p class="cmt-hotel-title">Lovely hotel in great location</p>
                    <p class="cmt-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet asperiores aspernatur commodi consectetur dolores eaque eligendi enim eos, eum ex fugit impedit ipsa libero nostrum obcaecati officiis optio voluptas!</p>
                </div>
            </div>
            <!--the end of comment item-->
            <div class="row comments">
                <div class="col m2 cmt-left">
                    <a href="javascript:void(0)"><img src="/static/img/avatar.jpg" alt="" class="comment-img" width="60" height="60"></a>
                    <p class="comment-name">Chris Evans</p>
                    <p class="comment-name">Baku,Azerbaijan</p>
                </div>
                <div class="col m10 cmt-right">
                    <p class="card-rating">
                       <span class="left">
                           <!--mdi_star versen rengi sari olacaq-->
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star-half  mdi_star"></span>
                           <span class="mdi mdi-star "></span>
                           <!--mdi-star-half-->
                           <span class="mdi mdi_star"></span>
                       </span>
                        <span class="reviewed">Reveiwed yesterday</span>
                    </p>
                    <p class="cmt-hotel-title">Lovely hotel in great location</p>
                    <p class="cmt-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet asperiores aspernatur commodi consectetur dolores eaque eligendi enim eos, eum ex fugit impedit ipsa libero nostrum obcaecati officiis optio voluptas!</p>
                </div>
            </div>
            <div class="row comments">
                <div class="col m2 cmt-left">
                    <a href="javascript:void(0)"><img src="/static/img/avatar.jpg" alt="" class="comment-img" width="60" height="60"></a>
                    <p class="comment-name">Chris Evans</p>
                    <p class="comment-name">Baku,Azerbaijan</p>
                </div>
                <div class="col m10 cmt-right">
                    <p class="card-rating">
                       <span class="left">
                           <!--mdi_star versen rengi sari olacaq-->
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star-half  mdi_star"></span>
                           <span class="mdi mdi-star "></span>
                           <!--mdi-star-half-->
                           <span class="mdi mdi_star"></span>
                       </span>
                        <span class="reviewed">Reveiwed yesterday</span>
                    </p>
                    <p class="cmt-hotel-title">Lovely hotel in great location</p>
                    <p class="cmt-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet asperiores aspernatur commodi consectetur dolores eaque eligendi enim eos, eum ex fugit impedit ipsa libero nostrum obcaecati officiis optio voluptas!</p>
                </div>
            </div>
            <div class="row comments">
                <div class="col m2 cmt-left">
                    <a href="javascript:void(0)"><img src="/static/img/avatar.jpg" alt="" class="comment-img" width="60" height="60"></a>
                    <p class="comment-name">Chris Evans</p>
                    <p class="comment-name">Baku,Azerbaijan</p>
                </div>
                <div class="col m10 cmt-right">
                    <p class="card-rating">
                       <span class="left">
                           <!--mdi_star versen rengi sari olacaq-->
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star mdi_star"></span>
                           <span class="mdi mdi-star-half  mdi_star"></span>
                           <span class="mdi mdi-star "></span>
                           <!--mdi-star-half-->
                           <span class="mdi mdi_star"></span>
                       </span>
                        <span class="reviewed">Reveiwed yesterday</span>
                    </p>
                    <p class="cmt-hotel-title">Lovely hotel in great location</p>
                    <p class="cmt-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet asperiores aspernatur commodi consectetur dolores eaque eligendi enim eos, eum ex fugit impedit ipsa libero nostrum obcaecati officiis optio voluptas!</p>
                </div>
            </div>
            <!--pagination-->
            <div class="row center-align pag-counts">
                <ul class="pagination">
                    <li class="disabled"><a href="javascript:void(0)">previous</a></li>
                    <li class="active"><a href="javascript:void(0)">1</a></li>
                    <li class="waves-effect"><a href="javascript:void(0)">2</a></li>
                    <li class="waves-effect"><a href="javascript:void(0)">3</a></li>
                    <li class="waves-effect"><a href="javascript:void(0)">4</a></li>
                    <li class="waves-effect"><a href="javascript:void(0)">5</a></li>
                    <li class="waves-effect"><a href="javascript:void(0)">next</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--the start of home footer-->
    <div class="row footer center-align">
        <div class="col xl12 l12 m12 s12">
            <p class="copyright-txt">© 2017. All rights reserved by BestReservations </p>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <!--material design js-->
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <!--own js file-->
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(".button-collapse").sideNav({
            closeOnClick: true
        });
        $(document).ready(function() {
            $('select').niceSelect();
        });
    </script>
</body>
</html>
